@use 'config';
@use 'specialDishes';
@use 'principais';
@use 'porcoes';
@use 'combos';
@use 'caipirinhaTra';   
@use 'caipirinhaEspeciais'; 
@use 'ginsTradicionais';    
@use 'cervejas';
@use 'bebidasNAlcool';

* {
    margin: 0;
    box-sizing:border-box;
    padding: 0;
}

body {
    font-family: config.$principalFont;
}

main {
    text-align: center;
    background-color: rgb(238, 237, 237);
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 70%;

    @media screen and (max-width: 1280px) {
        width: 95%;
        padding: 10px 0 0 0;
    }

    
    @media screen and (max-width: 1023px) {
        width: 80%;
    }

    @media screen and (max-width: 767px) {
        width: 100%;
    } 
}

//começo navbar dos links
.scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    background-color: #f4f4f4;
    scrollbar-width: auto;
}

/* Remover a barra de rolagem no Chrome, Safari e Edge */
.scroll-container::-webkit-scrollbar {
    display: none;
}

/* Estilo dos links */
.scroll-container a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    background-color: #e0e0e0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.scroll-container a:hover {
    background-color: #8d4925;
}